{% extends 'base.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block body %}
    <h1>Liste des genres</h1>

    <ul>
        {% for genre in genres %}
            <li>
                {{ genre.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
